/auto-save-list/.saves-10186-Jims-MacBook-Pro.local~
/auto-save-list/.saves-4407-Jims-MacBook-Pro.local~
/.org-id-locations
/auto-save-list/*
/elpa/octicons-readme.txt
ac-comphist.dat
elpa/archives/*
